/*body{
	background:yellow;
	color: purple;
}
*/
.thumbnail img {
	width: 100%;
}

div.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding:9px;
}

#delete-form {
	display: inline;
}

div.journal {
	border:solid 1px #ddd;
	border-radius: 4px;
}

/*h5.journal {
	color:black;
	font-style: 
}

*/