<% include ./partials/header.ejs %>

<form action="/hostgrounds" method="POST">
	Name<input type = "text" name = "hostName" placeholder = "hostName">
	Image<input type="text" name = "hostImage" placeholder="hostImage">
	<button>Submit!</button>
</form>

<% include ./partials/footer.ejs %>