<% include ./partials/header.ejs %>

<div class="container">

<h4>Create a new Hostground</h4>
	<form class="form-horizontal" action="/hostgrounds" method="POST">
		<div class="form group">
			Name<input type = "text" name = "hostground[name]" placeholder = "Name">
		</div>		

		<div class="form group">
			Image<input type="text" name = "hostground[image]" placeholder="Image">
		</div>		

		<div class="form group">
			Comment<input type="text" name = "hostground[comment]" placeholder="Comment">
		</div>


		<button>Submit!</button>
	</form>

</div>

<% include ./partials/footer.ejs %>